In [1]:
import pandas as pd

# EDA

In [2]:
df = pd.read_csv("dataset/train.csv")

In [3]:
print(df.info(),"\n")
print(df.sample(5),"\n")
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

     PassengerId  Survived  Pclass  \
505          506         0       1
888          889         0       3
631          632         0       3
457          458         1       1
435          436         1       1

                                           Name     Sex   Age  SibSp  Parch  \
505  Penasco y Castellana, Mr. Victor de Satode    male  18.0      1      0
888    Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1      2
631                 Lundahl, Mr. Johan Svensson    male  51.0      0      0
457           Kenyon, Mrs. Frederick R (Marion)  female   NaN      1      0
435                   Carter, Miss. Lucile Polk  female  14.0      1      2

         Ticket      Fare    Cabin Embarked
505    PC 17758  108.9000      C65        C
888  W./C. 6607   23.4500      NaN        S
631      347743    7.0542      NaN        S
457       17464   51.8625      D21        S
435      113760  120.0000  B96 B98        S

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [4]:
print(df.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [39]:
totals = df.groupby("Pclass").size()
vals = df.groupby("Pclass")["Survived"].value_counts().to_dict()

print(f"""
Upper Class Survival Percent: {vals[(1,1)] / totals.iloc[0]}
Middle Class Survival Percent: {vals[(2,1)] / totals.iloc[1]}
Lower Class Survival Percent: {vals[(3,1)] / totals.iloc[2]}
""")

Upper Class Survival Percent: 0.6296296296296297
Middle Class Survival Percent: 0.47282608695652173
Lower Class Survival Percent: 0.24236252545824846

In [42]:
totals = df.groupby("Sex").size()
vals = df.groupby("Sex")["Survived"].value_counts().to_dict()

print(f"""
Male Survival Percent: {vals[("male",1)] / totals.iloc[1]}
Female Survival Percent: {vals[("female",1)] / totals.iloc[0]}
""")

Male Survival Percent: 0.18890814558058924
Female Survival Percent: 0.7420382165605095